SECRET_KEY=
DEBUG=

# Данные БД
NAME=
USER=
PASSWORD=
HOST=
PORT=

API_KEY_STRIPE=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
